
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>user</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        #logo ul li:nth-child(4) a{font-weight:bold;color:black ;}
         #zhu {width:1120px;height:500px;margin:0px auto/*;border:1px solid #808080*/;}
         #zhong {text-align:center;}
         #zhong {margin-top:20px;}
        table {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }

            table td, table th {
                border: 1px solid #cad9ea;
                color: #666;
                height: 30px;
            }

            table thead th {
                background-color: #CCE8EB;
                width: 100px;
            }

            table tr:nth-child(odd) {
                background: #fff;
            }

            table tr:nth-child(even) {
                background: #F5FAFA;
            }
        #sidebar-menu > ul > li > a.active6 {
            color: #ffffff !important;
            background-color: #6194c1;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div id="zhu">
        <button><a style="font-size:28px;color:black;" href="/User/zhuc">Register a new user</a></button>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Login Name</td>
                <td>Password</td>
                <td>
                    mailbox
                </td>
                <td>
                    nickname
                </td>
                <td>
                    operate
                </td>
            </tr>
            @using BookShop.Models
            @foreach (var item in Model as List<User>)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Pwd</td>
                    <td>@item.Email</td>
                    <td>@item.Nick</td>
                    <td>
                        <a href="/User/Update/@item.UserID">edit</a>|
                        <a href="/User/List/@item.UserID">details</a>
                    </td>
                </tr>
            }


        </table>
    </div>
</body>
</html>
