
@{
    Layout = "~/Views/Shared/_LayoutShou.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Gril.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/ca1.css">
</head>
<body>   
    <a class="aa" href="/Shou/Youhui"></a>
    <!--首页内容-->
    <div id="middle">
        <div id="jian">
            @foreach (Product item in ViewBag.Product1)
            {
                <a href="/Car/Details/@item.ProductID">
                    <dl>
                        <dt><img src="~/image/@item.Photo" /></dt>
                        <dd class="ef">@item.Title</dd>
                        <dd class="ji">@item.Content</dd>
                        <dd>
                            <span class="e">￥@item.Price</span>
                            <span class="zhe">￥@item.MarketPrice</span>
                        </dd>
                    </dl>
                </a>
            }

        </div>

    </div>
</body>
</html>
