
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/css/ca_log.css">
</head>
<body>
    <div id="zhu">
        <div id="zhong">
            <form action="/Shou/Login" method="post" style="width:300px;margin:100px auto;">
                <div style="font-size:25px;text-align:center;font-weight:initial;">log in</div>
                <p>
                    <label>Account:</label>
                    <input type="text" name="name" value="" class="form-control" />
                </p>
                <p>
                    <label>Password:</label>
                    <input type="password" name="pwd" value="" class="form-control" />
                </p>
                <input type="submit" value="login" class="form-control btn btn-danger" />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </form>
        </div>
    </div>
</body>
</html>