@model List<BookShop.Models.News>
@{
    Layout = "~/Views/Shared/_LayoutShou.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Gril.css" rel="stylesheet" />
    <style>
/*        #menu ul li:nth-child(2) a {
            font-weight: bold;
            color: black;
        }
*/
        body {
            background-size: contain;
            background-image: url('../../image/bg.png');
        }
        #jian {
            height: 712px;
            width: 1220px;
            margin: 0px auto;
        }

                #jian a dl {
                    margin-right: 20px;
                }

            #jian dl dt img {
                height: 300px;
                width: 300px;
            }

            #jian a {
                float: left;
                background-color: antiquewhite;
            }

            #jian p {
                height: 50px;
                width: 1220px;
                margin: 0px auto;
                text-align: center;
                font-size: 40px;
            }

            #jian a {
                text-decoration: none;
            }
        .aa {
            text-decoration: none;
            position: relative;
            left: 1300px;
            bottom: 45px;
            font-weight: bold;
            background-color:black;
            color:red;
        }
    </style>
</head>
<body>
    <a class="aa" href="/Shou/Youhui"></a>
    <!--首页内容-->
    <div id="middle">
        @*<img src="~/image/292120.jpg" style="margin-left:7.5%" width="85%" ; height="380px;" />*@
        @*<img src="~/image/img/1589792513-2909.jpg"  style="margin-left:7.5%" width="85%" ; height="380px;"  />*@
        <div id="jian">
            @foreach (var item in Model)
            {
                <a href="/Car/Cha/@item.NewsID">
                    <dl>
                        <dt><img src="~/image/@item.PhotoUrl" /></dt>
                        <dd class="ef">@item.Title</dd>
                        <dd class="ji">@item.Content</dd>
                        <dd>
                            <span class="e">￥@item.NTypes</span>
                            <span class="zhe">￥@item.States</span>
                        </dd>
                    </dl>
                </a>

            }

        </div>

    </div>
</body>
</html>
