<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrator</title>
    <style>
        #center {width:1280px;height:700px;}
      
        #logo {width:1220px;height:80px;margin:0px auto;}
        #logo ul li img{width:160px;height:70px;}
        #logo ul li{float:left;list-style:none;margin-left:27px;}
        .menu {margin-top :23px;}
        #logo ul li a{text-decoration:none;font-size:22px;color:black;}
        #logo ul li a:hover{font-weight:bold;color:black;}
        #logo ul li a:active{font-weight:bold;color:red;}
        #xiang {width:1280px;height:4px;background-color:red;}
    </style>
</head>
<body>
    

</body>
</html>
