body {
} 
 /*顶部内容*/
        #top {height:376px;width:1220px;margin:0px auto;box-shadow:5px 0px 6px #b8b5b5;}
        #top ul li img{height:376px;width:1220px;}
        /*精选*/
        #jian {height:512px;width:1220px;margin:0px auto;}
        #jian a {height:460px;width:300px;box-shadow:5px 0px 6px #b8b5b5; margin-right:3px;text-align:center;}
        #jian a dl{margin-right:20px;}
        #jian  dl dt img{height:350px;width:230px;}
        #jian a{float:left;}
        #jian p{height:50px;width:1220px;margin:0px auto;text-align:center;font-size:40px;}
        #jian a{text-decoration:none;}
        .ef{color:black;font-size:20px;}
        .ji {color:#b8b5b5;font-size:15px;}
        .e {line-height:50px;color:black;font-size:20px;}
      