
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
}
 
a { /* 重置链接a标签 */
    color: #666666;
    text-decoration: none
}

    a img { /* 图片的边框为0*/
        border: 0;
    }
.grid {
    /*设置弹性布局容器*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.grid-cell-1,
.grid-cell-2,
.grid-cell-3,
.grid-cell-4,
.grid-cell-5,
.grid-cell-6 {
    flex-shrink: 1;
}

.grid-cell-1 {
    flex-grow: 1;
}

.grid-cell-2 {
    flex-grow: 2;
}

.grid-cell-3 {
    flex-grow: 3;
}

.grid-cell-4 {
    flex-grow: 4;
}

.grid-cell-5 {
    flex-grow: 5;
}

.grid-cell-6 {
    flex-grow: 6;
}
/*水红色背景*/
.box-red {
    background-color: #FF00FF;
    min-height: 50px;
    text-align: center;
    width: 100%;
    line-height: 50px;
}
/*绿色背景*/
.box-green {
    background-color: #41f9a0;
    min-height: 50px;
    text-align: center;
    width: 100%;
    line-height: 50px;
}


.shou {
    width: 100%;
    height: 40px;
    border: 1px solid #808080;
    box-shadow: 5px 5px 5px 5px #e1e1e1;
    z-index: 100;
    opacity: 0.8;
}

.zhu {
    width: 30%;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    margin-left: 15%;
}

.da {
    width: 65%;
    height: 40px;
    line-height: 40px;
    margin-right: 10%;
}

.ye {
    width: 10%;
    height: 40px;
    text-align: center;
}

    .ye:hover {
        background-color: #e1e1e1;
        color: #e1e1e1;
        transition: all 600ms linear 0s;
    }

.tu {
    width: 100%;
    height: 200px;
}

.im {
    width: 90%;
    height: 200px;
    margin-left: 70px;
}

.zhon {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 0.3em;
    border-bottom: 1px solid #808080;
}

.ig {
    width: 40px;
    height: 45px;
    margin-top: 3px;
    margin-left: 80%;
}

.chan {
    color: #6f6c6c;
    position: relative;
    left: -2%;
}

.san {
    position: relative;
    right: 24%;
}

.ke {
    position: relative;
    right: 46%;
    color: #17bac9;
}

.big {
    width: 100%;
    height: 400px;
    margin-top: 80px;
}

.one {
    width: 50%;
    height: 200px;
    background-color: #c3bcbc;
    margin-left: 25%;
    text-align: center;
}

.a {
    position: relative;
    top: 20%;
}

.b {
    position: relative;
    top: 30%;
    color: #565454;
}

.c {
    position: relative;
    top: 35%;
    font-size: 0.9em;
    color: #717070;
}

.two {
    width: 50%;
    height: 350px;
    background-color: #1499a5;
    margin-left: 25%;
    text-align: center;
    color: #ffffff;
}

.q {
    position: relative;
    top: 10%;
}

.w {
    position: relative;
    top: 17%;
    font-size: 0.9em;
}

.e {
    position: relative;
    top: 18%;
    font-size: 0.9em;
}

.huan {
    position: relative;
    top: 25%;
    width: 100%;
    height: 150px;
    text-align: left;
    margin-left: 2%;
    font-size: 0.5em;
}

.f-c {
    position: fixed;
    /*设置页脚子容器从下边向上偏移0px*/
    bottom: 0px;
    /*设置页脚子容器从左边向右偏移0px*/
    left: 0px;
    /*设置页脚子容器边框使用黑色阴影20px*/
    box-shadow: 0px 0px 20px #e1e1e1;
    /*设置页脚子容器漂浮在其它页面内容之上*/
    z-index: 100;
    /*设置页脚子容器背景透明效果*/
    opacity: 0.9;
    /*设置页脚子容器背景颜色为黑色*/
    background-color: #ffffff;
    /*设置页脚子容器内容水平居中*/
    text-align: center;
    /*设置页脚部分宽度100%，占满整父容器的宽度*/
    width: 100%;
    /*设置页脚部分高度60px*/
    height: 35px;
    /*设置页脚部分字体颜色为白色*/
    color: #000000;
    /*设置页脚部分行高60px，实现内容垂直居中*/
    line-height: 35px;
    font-size: 8px;
}

.f-b {
    /*在小屏幕低分辨率下隐藏底部导航栏*/
    display: none;
}



.f-i {
    color: #000000;
}

@media all and (min-width:800px) {
    .f-b {
        /*在大屏幕大分辨率（大于800px）显示底部导航栏*/
        display: block;
    }
}
.tou {
    width: 100%;
    height: 600px;
}

.logo {
    width: 30%;
    height: 150px;
}

.l-1 {
    margin-left: 65%;
    margin-top: 25px;
}

.l-2 {
    font-size: 0.88em;
    padding: 5%;
    color: #5a5959;
}

.zhong {
    width: 70%;
    height: 150px;
    color: #000000;
}

.z-1 {
    width: 17%;
    font-size: 3px;
    margin-left: 74%;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    opacity: 0.9;
}

.dd:hover {
    color: #ffffff;
}

.xx:hover {
    color: #ffffff;
}

.z-2 {
    width: 70%;
    height: 95px;
    margin-left:75%;
    margin-top: 10px;
}

.z {
    margin-left: 23px;
}

.tex {
    width: 100%;
    height: 100px;
    text-align: center;
}

.t-l {
    font-size: 50px;
    color: #ffffff;
    position: relative;
    bottom: 350px;
}

.t-z {
    font-size: 25px;
    color: #ffffff;
    position: relative;
    bottom: 340px;
}

.mo {
    width: 100%;
    height: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.m-g {
    margin-right: 50%;
    margin-top: -160px;
}

.m-f {
    margin-left: 50px;
}

.aa:hover {
    color: #ffffff;
}

.im {
    width: 100%;
    height: 500px;
}

.er {
    width: 100%;
    height: 430px;
    background-color: #ffffff;
}


.ee {
    width: 100%;
    margin-left: 170px;
    position: relative;
    top: 40px;
}

.e-e {
    width: 100%;
    font-size: 30px;
}

.e-w {
    width: 100%;
    font-size: 30px;
    color: #5a5959;
}

.e-h {
    width: 100%;
    color: #5a5959;
    margin-left: 170px;
    position: relative;
    top: 25px;
}

.pai {
    width: 80%;
    height: 280px;
    margin-left: 170px;
    margin-top: 40px;
}

.p {
    width: 20%;
    height: 300px;
    
}

.p-i {
    border-radius: 5px;
}

.p-w {
    
    width: 200px;
}

.p-tex {
    font-size: 3px;
    color: #5a5959;
    margin-top: 10px;
}

.xin {
    width: 100%;
    height: 430px;
    background-color: #d8d3d3;
}

.yi {
    width: 80%;
    height: 280px;
    margin-left: 170px;
    margin-top: 40px;
}

.x-tex {
    color: #000000;
    font-size: 25px;
    Font-weight:bold;
    margin-left: 35%;
    margin-top: -40%;
}

.x-tex2 {
    color: #ffffff;
    margin-left: 32%;
    margin-top: -40%;
}

.x-tex3 {
    color: #ffffff;
    margin-left: 30%;
    margin-top: -40%;
}

.x-shu {
    color: #ffbb00;
    font-size: 1.2em;
    margin-left: 35%;
}

.bian {
    width: 3.4%;
    height: 730px;
    background-color: #ffffff;
    position: fixed;
    top: -1px;
    left: 97%;
    z-index: 100;
}

.im {
    position: relative;
    top: 35%;
}

.im2 {
    position: relative;
    top: 40%;
}

.zui {
    width: 100%;
    height: 200px;
    background-color: #e1e1e1;
    color: #808080;
}

.z-quan {
    width: 30%;
    height: 100px;
    margin-left: 170px;
    padding-top: 50px;
}

.s-tex {
    font-size: 2.7em;
    
}

.z-zhen {
    
    margin-left: 60%;
    position: relative;
    bottom: 35%;
    padding-top: 5px;
}

.hou {
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    /*color: #ffffff;*/
}
/*
.tiao {
    width: 100%;
    height: 60px;
    margin-left: 10.5%;
    padding-top: 30px;
}

.t-te {
    padding-left: 20px;
}

.tex {
    font-size: 0.5em;
    margin-left: 12%;
}*/
